#btn {
  font-size: 25px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#users {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.user {
  border: 1px solid black;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 1300px) {
  #users {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  #users {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #users {
    grid-template-columns: repeat(1, 1fr);
  }
}
